*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.12 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-1cm {
  margin-bottom: 1cm;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-\[7mm\] {
  margin-bottom: 7mm;
}

.ml-1cm {
  margin-left: 1cm;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-1cm {
  margin-top: 1cm;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.table {
  display: table;
}

.table-footer-group {
  display: table-footer-group;
}

.table-header-group {
  display: table-header-group;
}

.hidden {
  display: none;
}

.h-6 {
  height: 1.5rem;
}

.h-9 {
  height: 2.25rem;
}

.h-full {
  height: 100%;
}

.w-1\/3 {
  width: 33.333333%;
}

.w-1\/5 {
  width: 20%;
}

.w-2\/3 {
  width: 66.666667%;
}

.w-\[18cm\] {
  width: 18cm;
}

.w-\[1px\] {
  width: 1px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.min-w-5 {
  min-width: 1.25rem;
}

.max-w-24 {
  max-width: 6rem;
}

.flex-grow-0 {
  flex-grow: 0;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.break-inside-avoid {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-2 {
  gap: 0.5rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-wrap {
  white-space: pre-wrap;
}

.break-words {
  overflow-wrap: break-word;
}

.rounded-\[1mm\] {
  border-radius: 1mm;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-neutral-gray-120 {
  --tw-border-opacity: 1;
  border-color: rgb(224 224 224 / var(--tw-border-opacity));
}

.border-b-neutral-gray-120 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(224 224 224 / var(--tw-border-opacity));
}

.border-b-neutral-gray-80 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(235 235 235 / var(--tw-border-opacity));
}

.bg-neutral-gray-opacity-120 {
  background-color: rgba(0, 0, 0, 0.12);
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.px-\[2mm\] {
  padding-left: 2mm;
  padding-right: 2mm;
}

.py-\[1mm\] {
  padding-top: 1mm;
  padding-bottom: 1mm;
}

.py-\[2mm\] {
  padding-top: 2mm;
  padding-bottom: 2mm;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-m {
  font-size: 5mm;
  line-height: 7mm;
}

.text-p-l {
  font-size: 5.3mm;
  line-height: 6.6mm;
}

.text-p-m {
  font-size: 3.3mm;
  line-height: 4.16mm;
}

.text-p-s {
  font-size: 2.6mm;
  line-height: 3.3mm;
}

.text-p-xl {
  font-size: 6.6mm;
  line-height: 8.3mm;
}

.text-p-xs {
  font-size: 2mm;
  line-height: 2.5mm;
}

.text-xs {
  font-size: 3.15mm;
  line-height: 4.41mm;
}

.text-xxs {
  font-size: 2.1mm;
  line-height: 2.94mm;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[20pt\] {
  line-height: 20pt;
}

.tracking-regular {
  letter-spacing: -0.01em;
}

.tracking-tight {
  letter-spacing: -.02em;
}

.tracking-tighter {
  letter-spacing: -.03em;
}

.tracking-tightest {
  letter-spacing: -.04em;
}

.text-gray {
  --tw-text-opacity: 1;
  color: rgb(31 31 31 / var(--tw-text-opacity));
}

.text-gray-560 {
  --tw-text-opacity: 1;
  color: rgb(112 112 112 / var(--tw-text-opacity));
}

.text-gray-880 {
  color: $1F1F1F;
}

.text-neutral-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity));
}

.no-underline {
  text-decoration-line: none;
}

.outline {
  outline-style: solid;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.headerLeft {
  position: running(headerLeft);
}

.footerLeft {
  position: running(footerLeft);
}

@page {
  size: A4;

  margin: 15mm 1cm 2cm 2cm;

  @top-left {
    content: element(headerLeft);
  }

  @bottom-left {
    content: element(footerLeft);
  }

  @bottom-right {
    content: counter(page) ' / ' counter(pages);

    font-size: 3mm;
  }
}

@page:first {
  @bottom-right {
    content: '';
  }
}

@media print {
  img,
  td {
    max-width: 18cm;
  }

  .page {
    page-break-before: always;
  }

  h1 {
    font-size: 14mm;
    line-height: 20mm;
    font-weight: 500;
    color: var(--primary-basic-gray);
  }

  h2 {
    font-size: 7mm;
    font-weight: 700;
    line-height: 10mm;
    color: var(--primary-basic-gray);
  }

  h3 {
    font-size: 18pt;
    font-weight: 700;
    line-height: 20pt;
    letter-spacing: -0.02em;
    color: var(--primary-basic-gray);
  }

  p {
    font-size: calc(16 / 6) mm;
    line-height: calc(20 / 6) mm;
    color: var(--primary-basic-gray);
  }

  .tox-comment {
    background-color: unset !important;
  }

  blockquote {
    padding-left: 5mm !important;
    margin-left: -5mm !important;
    border-left: solid 1mm var(--primary-basic-gray);
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    font-size: 5mm;
    line-height: 7mm;
    letter-spacing: -1%;
    color: var(--primary-basic-gray);
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
    font-size: 5mm;
    line-height: 7mm;
    letter-spacing: -1%;
    color: var(--primary-basic-gray);
  }

  .toc-page-link-print::after {
    content: target-counter(attr(href url), page, decimal);
  }

  .toc-page-link-no-print::after {
    content: '-';
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

:root {
  --transparent: rgba(0, 0, 0, 0);
  --primary-red-500: rgba(255, 71, 111, 1);
  --primary-basic-blue: #0050ff;
  --primary-basic-white: #ffffff;
  --primary-basic-gray: #1f1f1f;
  --primary-basic-gray-40: #f5f5f5;
  --primary-basic-gray-400: rgba(153, 153, 153, 1);
  --primary-basic-gray-560: #707070;
  --primary-basic-gray-880: rgba(31, 31, 31, 1);
  --secondary-gray-800: #4e4e4e;
  --secondary-red: rgba(255, 112, 112);
  --secondary-red-64: rgba(255, 112, 112, 0.64);
  --secondary-red-56: rgba(255, 112, 112, 0.56);
  --secondary-red-20: rgba(255, 112, 112, 0.2);
  --secondary-red-32: rgba(255, 112, 112, 0.32);
  --secondary-red-8: rgba(255, 112, 112, 0.08);
  --secondary-orange: rgba(255, 163, 52);
  --secondary-orange-64: rgba(255, 163, 52, 0.64);
  --secondary-orange-56: rgba(255, 163, 52, 0.56);
  --secondary-orange-20: rgba(255, 163, 52, 0.2);
  --secondary-orange-32: rgba(255, 163, 52, 0.32);
  --secondary-orange-8: rgba(255, 163, 52, 0.08);
  --secondary-yellow: rgba(245, 204, 0);
  --secondary-yellow-64: rgba(245, 204, 0, 0.64);
  --secondary-yellow-56: rgba(245, 204, 0, 0.56);
  --secondary-yellow-20: rgba(245, 204, 0, 0.2);
  --secondary-yellow-32: rgba(245, 204, 0, 0.32);
  --secondary-yellow-8: rgba(245, 204, 0, 0.08);
  --secondary-green: rgba(54, 235, 141);
  --secondary-green-800: rgba(22, 94, 56, 1);
  --secondary-green-500: rgba(54, 235, 141, 1);
  --secondary-green-64: rgba(54, 235, 141, 0.64);
  --secondary-green-56: rgba(54, 235, 141, 0.56);
  --secondary-green-20: rgba(54, 235, 141, 0.2);
  --secondary-green-32: rgba(54, 235, 141, 0.32);
  --secondary-green-8: rgba(54, 235, 141, 0.08);
  --secondary-electric: rgba(58, 243, 255);
  --secondary-electric-64: rgba(58, 243, 255, 0.64);
  --secondary-electric-56: rgba(58, 243, 255, 0.56);
  --secondary-electric-20: rgba(58, 243, 255, 0.2);
  --secondary-electric-32: rgba(58, 243, 255, 0.32);
  --secondary-electric-8: rgba(58, 243, 255, 0.08);
  --secondary-blue: rgba(102, 150, 255);
  --secondary-blue-64: rgba(102, 150, 255, 0.64);
  --secondary-blue-56: rgba(102, 150, 255, 0.56);
  --secondary-blue-20: rgba(102, 150, 255, 0.2);
  --secondary-blue-32: rgba(102, 150, 255, 0.32);
  --secondary-blue-8: rgba(102, 150, 255, 0.08);
  --secondary-purple: rgba(155, 112, 255);
  --secondary-purple-64: rgba(155, 112, 255, 0.64);
  --secondary-purple-56: rgba(155, 112, 255, 0.56);
  --secondary-purple-20: rgba(155, 112, 255, 0.2);
  --secondary-purple-32: rgba(155, 112, 255, 0.32);
  --secondary-purple-8: rgba(155, 112, 255, 0.08);
  --secondary-pink: rgba(255, 153, 255);
  --secondary-pink-64: rgba(255, 153, 255, 0.64);
  --secondary-pink-56: rgba(255, 153, 255, 0.56);
  --secondary-pink-20: rgba(255, 153, 255, 0.2);
  --secondary-pink-32: rgba(255, 153, 255, 0.32);
  --secondary-pink-8: rgba(255, 153, 255, 0.08);
  --secondary-gray: rgba(173, 173, 173);
  --secondary-gray-80: rgba(173, 173, 173, 0.8);
  --secondary-gray-64: rgba(173, 173, 173, 0.64);
  --secondary-gray-56: rgba(173, 173, 173, 0.56);
  --secondary-gray-20: rgba(173, 173, 173, 0.2);
  --secondary-gray-32: rgba(173, 173, 173, 0.32);
  --secondary-gray-8: rgba(173, 173, 173, 0.08);
  --neutral-gray-40: rgba(245, 245, 245, 1);
  --neutral-gray-120: #e0e0e0;
  --neutral-gray-160: rgba(214, 214, 214, 1);
  --neutral-gray-opacity-40: rgba(0, 0, 0, 0.04);
  --neutral-gray-opacity-60: rgba(0, 0, 0, 0.06);
  --neutral-gray-400: rgba(0, 0, 0, 0.4);
  --neutral-gray-opacity-120: rgba(0, 0, 0, 0.12);
  --neutral-gray-gray-400: #999999;
}

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.header {
  height: 30mm;
  display: table-header-group;
  display: flex;
  align-items: flex-end;
}

.footer {
  height: 20mm;
  display: table-footer-group;
}

.toc-page-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 8px;
  font-size: 5mm;
  font-weight: 500;
  line-height: 7mm;
  letter-spacing: -0.01em;
  color: var(--primary-basic-gray);
  width: 100vw;
  height: 36px;
  border-bottom: 1px solid var(--neutral-gray-120);
}

.toc-page-link-0 {
  width: 180mm;
  margin-left: 0;
}

.toc-page-link-1 {
  width: 175mm;
  margin-left: 5mm;
}

.toc-page-link-2 {
  width: 170mm;
  margin-left: 10mm;
}

.toc-page-link-3 {
  width: 165mm;
  margin-left: 15mm;
}

.toc-page-link-4 {
  width: 160mm;
  margin-left: 20mm;
}

.toc-page-link-5 {
  width: 155mm;
  margin-left: 25mm;
}

.toc-page-link-6 {
  width: 150mm;
  margin-left: 30mm;
}

.toc-page-link-7 {
  width: 145mm;
  margin-left: 35mm;
}

.toc-page-link-8 {
  width: 140mm;
  margin-left: 40mm;
}
