@tailwind base;
@tailwind components;
@tailwind utilities;

.headerLeft {
  position: running(headerLeft);
}
.footerLeft {
  position: running(footerLeft);
}

@page {
  size: A4;
  margin: 15mm 1cm 2cm 2cm;

  @top-left {
    content: element(headerLeft);
  }

  @bottom-left {
    content: element(footerLeft);
  }

  @bottom-right {
    content: counter(page) ' / ' counter(pages);
    font-size: 3mm;
  }
}

@page:first {
  @bottom-right {
    content: '';
  }
}

h1 {
  font-size: 14mm;
  line-height: 20mm;
  font-weight: 500;
  color: var(--primary-basic-gray);
}

h2 {
  font-size: 7mm;
  font-weight: 700;
  line-height: 10mm;
  color: var(--primary-basic-gray);
}

h3 {
  font-size: 3mm;
  font-weight: 700;
  line-height: 3.33mm;
  letter-spacing: -0.02em;
  color: var(--primary-basic-gray);
}

p {
  font-size: calc(16mm / 6);
  line-height: calc(20mm / 6);
  color: var(--primary-basic-gray);
}

.html-content {
  font-size: calc(16mm / 6) !important;
  line-height: calc(20mm / 6) !important;
  color: var(--primary-basic-gray);
}

@media print {
  img,
  td {
    max-width: 18cm;
  }

  .page {
    page-break-before: always;
  }

  .tox-comment {
    background-color: unset !important;
  }

  blockquote {
    padding-left: 5mm !important;
    margin-top: 5mm !important;
    margin-bottom: 5mm !important;
    border-left: solid 1mm var(--primary-basic-gray);
  }

  ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: calc(40mm / 6);
    unicode-bidi: isolate;

    font-size: calc(16mm / 6);
    line-height: calc(20mm / 6);
    letter-spacing: -1%;
    color: var(--primary-basic-gray);
  }

  ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: calc(40mm / 6);
    unicode-bidi: isolate;

    font-size: calc(16mm / 6);
    line-height: calc(20mm / 6);
    letter-spacing: -1%;
    color: var(--primary-basic-gray);
  }

  .toc-page-link-print::after {
    content: target-counter(attr(href url), page, decimal);
  }

  .toc-page-link-no-print::after {
    content: '-';
  }
}

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

:root {
  --transparent: rgba(0, 0, 0, 0);

  --primary-red-500: rgba(255, 71, 111, 1);

  --primary-basic-blue: #0050ff;
  --primary-basic-white: #ffffff;

  --primary-basic-gray: #1f1f1f;
  --primary-basic-gray-40: #f5f5f5;
  --primary-basic-gray-400: rgba(153, 153, 153, 1);
  --primary-basic-gray-560: #707070;
  --primary-basic-gray-880: rgba(31, 31, 31, 1);

  --secondary-gray-800: #4e4e4e;

  --secondary-red: rgba(255, 112, 112);
  --secondary-red-64: rgba(255, 112, 112, 0.64);
  --secondary-red-56: rgba(255, 112, 112, 0.56);
  --secondary-red-20: rgba(255, 112, 112, 0.2);
  --secondary-red-32: rgba(255, 112, 112, 0.32);
  --secondary-red-8: rgba(255, 112, 112, 0.08);

  --secondary-orange: rgba(255, 163, 52);
  --secondary-orange-64: rgba(255, 163, 52, 0.64);
  --secondary-orange-56: rgba(255, 163, 52, 0.56);
  --secondary-orange-20: rgba(255, 163, 52, 0.2);
  --secondary-orange-32: rgba(255, 163, 52, 0.32);
  --secondary-orange-8: rgba(255, 163, 52, 0.08);

  --secondary-yellow: rgba(245, 204, 0);
  --secondary-yellow-64: rgba(245, 204, 0, 0.64);
  --secondary-yellow-56: rgba(245, 204, 0, 0.56);
  --secondary-yellow-20: rgba(245, 204, 0, 0.2);
  --secondary-yellow-32: rgba(245, 204, 0, 0.32);
  --secondary-yellow-8: rgba(245, 204, 0, 0.08);

  --secondary-green: rgba(54, 235, 141);
  --secondary-green-800: rgba(22, 94, 56, 1);
  --secondary-green-500: rgba(54, 235, 141, 1);
  --secondary-green-64: rgba(54, 235, 141, 0.64);
  --secondary-green-56: rgba(54, 235, 141, 0.56);
  --secondary-green-20: rgba(54, 235, 141, 0.2);
  --secondary-green-32: rgba(54, 235, 141, 0.32);
  --secondary-green-8: rgba(54, 235, 141, 0.08);

  --secondary-electric: rgba(58, 243, 255);
  --secondary-electric-64: rgba(58, 243, 255, 0.64);
  --secondary-electric-56: rgba(58, 243, 255, 0.56);
  --secondary-electric-20: rgba(58, 243, 255, 0.2);
  --secondary-electric-32: rgba(58, 243, 255, 0.32);
  --secondary-electric-8: rgba(58, 243, 255, 0.08);

  --secondary-blue: rgba(102, 150, 255);
  --secondary-blue-64: rgba(102, 150, 255, 0.64);
  --secondary-blue-56: rgba(102, 150, 255, 0.56);
  --secondary-blue-20: rgba(102, 150, 255, 0.2);
  --secondary-blue-32: rgba(102, 150, 255, 0.32);
  --secondary-blue-8: rgba(102, 150, 255, 0.08);

  --secondary-purple: rgba(155, 112, 255);
  --secondary-purple-64: rgba(155, 112, 255, 0.64);
  --secondary-purple-56: rgba(155, 112, 255, 0.56);
  --secondary-purple-20: rgba(155, 112, 255, 0.2);
  --secondary-purple-32: rgba(155, 112, 255, 0.32);
  --secondary-purple-8: rgba(155, 112, 255, 0.08);

  --secondary-pink: rgba(255, 153, 255);
  --secondary-pink-64: rgba(255, 153, 255, 0.64);
  --secondary-pink-56: rgba(255, 153, 255, 0.56);
  --secondary-pink-20: rgba(255, 153, 255, 0.2);
  --secondary-pink-32: rgba(255, 153, 255, 0.32);
  --secondary-pink-8: rgba(255, 153, 255, 0.08);

  --secondary-gray: rgba(173, 173, 173);
  --secondary-gray-80: rgba(173, 173, 173, 0.8);
  --secondary-gray-64: rgba(173, 173, 173, 0.64);
  --secondary-gray-56: rgba(173, 173, 173, 0.56);
  --secondary-gray-20: rgba(173, 173, 173, 0.2);
  --secondary-gray-32: rgba(173, 173, 173, 0.32);
  --secondary-gray-8: rgba(173, 173, 173, 0.08);

  --neutral-gray-40: rgba(245, 245, 245, 1);
  --neutral-gray-120: #e0e0e0;
  --neutral-gray-160: rgba(214, 214, 214, 1);
  --neutral-gray-opacity-40: rgba(0, 0, 0, 0.04);
  --neutral-gray-opacity-60: rgba(0, 0, 0, 0.06);
  --neutral-gray-400: rgba(0, 0, 0, 0.4);
  --neutral-gray-opacity-120: rgba(0, 0, 0, 0.12);
  --neutral-gray-gray-400: #999999;
}

body {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.header {
  height: 30mm;
  display: table-header-group;
  display: flex;
  align-items: flex-end;
}

.footer {
  height: 20mm;
  display: table-footer-group;
}

.toc-page-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  gap: 8px;
  font-size: 5mm;
  font-weight: 500;
  line-height: 7mm;
  letter-spacing: -0.01em;
  color: var(--primary-basic-gray);
  width: 100vw;

  height: 36px;
  border-bottom: 1px solid var(--neutral-gray-120);
}

.toc-page-link-0 {
  width: 180mm;
  margin-left: 0;
}

.toc-page-link-1 {
  width: 175mm;
  margin-left: 5mm;
}

.toc-page-link-2 {
  width: 170mm;
  margin-left: 10mm;
}
.toc-page-link-3 {
  width: 165mm;
  margin-left: 15mm;
}
.toc-page-link-4 {
  width: 160mm;
  margin-left: 20mm;
}
.toc-page-link-5 {
  width: 155mm;
  margin-left: 25mm;
}
.toc-page-link-6 {
  width: 150mm;
  margin-left: 30mm;
}

.toc-page-link-7 {
  width: 145mm;
  margin-left: 35mm;
}
.toc-page-link-8 {
  width: 140mm;
  margin-left: 40mm;
}
